{% extends 'base.html' %}
{% block content %}
    <a href="/accessory/">
        <div class="productionType">
            <img
                    src="https://img.ostin.com/upload/content/cmsgate/ru_ostin/ost/banners/cms_auto_upload/desk__main5__a__a__200723.jpg"
            />
            <img
                    src="https://img.ostin.com/upload/content/cmsgate/ru_ostin/ost/banners/cms_auto_upload/desk__main5__a__a__200723.jpg"
            />
            <img
                    src="https://img.ostin.com/upload/content/cmsgate/ru_ostin/ost/banners/cms_auto_upload/desk__main5__a__a__200723.jpg"
            />
            <img
                    src="https://img.ostin.com/upload/content/cmsgate/ru_ostin/ost/banners/cms_auto_upload/desk__main5__a__a__200723.jpg"
            />
            <img
                    src="https://img.ostin.com/upload/content/cmsgate/ru_ostin/ost/banners/cms_auto_upload/desk__main5__a__a__200723.jpg"
            />
            <h2>Accessory</h2>
        </div>
    </a>
{% endblock %}