{% extends 'base.html' %}
{% block content %}
    <a href=''>
        <div class="productionType">
            <img
                    src="https://img.ostin.com/upload/content/cmsgate/ru_ostin/ost/banners/cms_auto_upload/desk__main3__b__b__200723.jpg"
            />
            <img
                    src="https://img.ostin.com/upload/content/cmsgate/ru_ostin/ost/banners/cms_auto_upload/desk__main3__b__b__200723.jpg"
            />
            <img
                    src="https://img.ostin.com/upload/content/cmsgate/ru_ostin/ost/banners/cms_auto_upload/desk__main3__b__b__200723.jpg"
            />
            <img
                    src="https://img.ostin.com/upload/content/cmsgate/ru_ostin/ost/banners/cms_auto_upload/desk__main3__b__b__200723.jpg"
            />
            <img
                    src="https://img.ostin.com/upload/content/cmsgate/ru_ostin/ost/banners/cms_auto_upload/desk__main3__b__b__200723.jpg"
            />
            <h2>Boy</h2>
        </div>
    </a>
{% endblock %}