{% extends 'base.html' %}
{% block content %}
    </div>
      <div class="bottomContent">
        <!-- Ссылка -->
        <a href='/woman/'>
          <div class="productionType">
            <img
              src="https://img.ostin.com/upload/content/cmsgate/ru_ostin/ost/banners/cms_auto_upload/desk__main1__w__w__110823.jpg" />
            <h2>Woman</h2>
          </div>
        </a>
        <!-- Ссылка -->
        <a href='/man/'>
          <div class="productionType">
            <img
              src="https://img.ostin.com/upload/content/cmsgate/ru_ostin/ost/banners/cms_auto_upload/desk__main2__m__m__110823.jpg"
            />
            <h2>Man</h2>
          </div>
        </a>
        <!-- Ссылка -->
        <a href='/boy/'>
          <div class="productionType">
            <img
              src="https://img.ostin.com/upload/content/cmsgate/ru_ostin/ost/banners/cms_auto_upload/desk__main3__b__b__200723.jpg"
            />
            <h2>Boy</h2>
          </div>
        </a>
        <!-- Ссылка -->
        <a href="/girl/">
          <div class="productionType">
            <img
              src="https://img.ostin.com/upload/content/cmsgate/ru_ostin/ost/banners/cms_auto_upload/desk__main4__g__g__200723.jpg"
            />
            <h2>Girl</h2>
          </div>
        </a>
        <!-- Ссылка -->
        <a href="/accessory/">
          <div class="productionType">
            <img
              src="https://img.ostin.com/upload/content/cmsgate/ru_ostin/ost/banners/cms_auto_upload/desk__main5__a__a__200723.jpg"
            />
            <h2>Accessory</h2>
          </div>
        </a>
      </div>
    </div>

{% endblock %}
