{% extends 'base.html' %}
{% block content %}
    <a href="">
          <div class="productionType">
            <img
              src="https://img.ostin.com/upload/content/cmsgate/ru_ostin/ost/banners/cms_auto_upload/desk__main1__w__w__110823.jpg" />
              <img
              src="https://img.ostin.com/upload/content/cmsgate/ru_ostin/ost/banners/cms_auto_upload/desk__main1__w__w__110823.jpg" />
              <img
              src="https://img.ostin.com/upload/content/cmsgate/ru_ostin/ost/banners/cms_auto_upload/desk__main1__w__w__110823.jpg" />
              <img
              src="https://img.ostin.com/upload/content/cmsgate/ru_ostin/ost/banners/cms_auto_upload/desk__main1__w__w__110823.jpg" />
              <img
              src="https://img.ostin.com/upload/content/cmsgate/ru_ostin/ost/banners/cms_auto_upload/desk__main1__w__w__110823.jpg" />
            <h2>Woman</h2>
          </div>
        </a>
{% endblock %}
